@use "../global/variables.scss" as *;

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $theme-text-color;
  background-color: $theme-background;
  min-height: 100vh;
  transition: all $trans-default;

  &--light {
    color: $theme-light-text-color;
    background-color: $theme-light-background;
  }

  &__title {
    font-size: 40px;
    line-height: 120%;
  }

  &__toggler {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $theme-text-color;
    transition: all $trans-default;
    overflow: hidden;
    cursor: pointer;
    background: linear-gradient(45deg, $theme-nero, $color-charcoal);
    border-color: $theme-btn-light;
    box-shadow: 0 0 10px $theme-btn-light;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--light &__toggler {
    background: linear-gradient(45deg, $theme-white-smoke, $color-default-white);
    border-color: $theme-light-text-color;
    border-color: $theme-light-btn-light;
    box-shadow: 0 0 10px $theme-light-btn-light;
  }

  &__calc {
    width: 320px;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
    background-color: $theme-calc-bg;
    box-shadow: 0 10px 20px $theme-shadow,
             0 20px 40px $theme-shadow,
             0 30px 60px $theme-shadow;
    transition: all $trans-default;
  }

  &--light &__calc {
    background-color: $theme-light-calc-bg;
    box-shadow: 0 10px 20px $theme-light-shadow,
             0 20px 40px $theme-light-shadow,
             0 30px 60px $theme-light-shadow;
  }

  &__decor {
    display: flex;
    gap: 10px;
    width: fit-content;
    padding: 15px 15px 5px;
  }

  &__circle {
    display: inline-flex;
    border-radius: 50%;
    width: 15px;
    height: 15px;

    &--red {
      background-color: $color-sunset;
    }

    &--yellow {
      background-color: $color-nugget;
    }

    &--green {
      background-color: $color-forest-green;
    }
  }

  &__display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 90px;
    font-size: 70px;
    line-height: 100%;
    text-align: right;
    padding: 10px 20px;
    background-color: $theme-display-bg;
    color: $theme-text-color;
    transition: all $trans-default;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
  }

  &--light &__display {
    background-color: $theme-light-display-bg;
    color: $theme-light-text-color;
  }

  &__keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 70px);
    gap: 2px;
  }

  &__btn {
    width: 100%;
    height: 100%;
    font-size: 30px;
    line-height: 120%;
    color: $theme-btn-text;
    background-color: $theme-btn-bg;
  }

  &--light &__btn {
    color: $theme-light-btn-text;
    background-color: $theme-light-btn-bg;
  }

  &__btn--dark {
    background-color: $theme-btn-dark;
  }

  &--light &__btn--dark {
    background-color: $theme-light-btn-dark;
  }

  &__btn--light {
    background-color: $theme-btn-light;
  }

  &--light &__btn--light {
    background-color: $theme-light-btn-light;
  }

  &__btn--large {
    grid-column: span 2;
  }
}
